#content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#content > p {
    padding: 1%;
    background-color: #FEFAE0;
    color: #231F20;
    border-radius: 15px;
}

#right-div {
    width: 90%;
    min-height: 100%;
    margin-left: 25%;
}