div {
    border: 2px lightgreen dotted;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
}

#second {
    margin: -25px 0 0 80px;}

.red {
    color: red;
    font-weight: bold;
}
